.cover {
    width: 100%;
    padding: 440px 0 140px;
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}

@media screen and (max-width: 900px) {
    .cover {
        padding: 260px 0 100px;
        background-position: bottom left;
    }
}


@media screen and (max-width: 620px) {
    .cover {
           padding: 120px 0 80px;

    }
}



