@import url('./__caption/section-image__caption.css');

.section-image {
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: auto;
    align-self: center;
    justify-self: center;
    margin: 60px 0; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}