@import 'project_defaults';

.team-member-list{

    &.row{
        margin-left: -1rem;
        margin-right: -1rem;

        .col{
            padding: 0 2rem;
            margin-bottom: 5rem;

            // tablet
            @include media-breakpoint-between(md, lg) {
                margin-bottom: 3rem;
            }

            // mobile
            @include media-breakpoint-down(sm) {
                margin-bottom: 1rem;
            }
        }
    }

    &-item{

        // mobile
        @include media-breakpoint-down(sm) {
            max-width: 75vw;
            margin-left: auto;
            margin-right: auto;
        }

        .image-container{
            position: relative;
            margin-bottom: 1.5rem;
            padding-bottom: 110%;

            &:after{
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 6.25rem;
                background: linear-gradient(180deg, rgba(36, 47, 61, 0) 0%, $color-black-gray 100%);
                opacity: .3;
            }
        }

        .texts{

            h6{
                margin-bottom: 1rem;

                small{
                    margin-top: 1rem;
                    display: block;
                    font-size: 1rem;
                    line-height: 1.375rem;
                    color: $color-dark-gray;
                    letter-spacing: 0;
                }
            }

            p{
                font-size: .875rem;
                line-height: 1.375rem;
                opacity: .8;
            }
        }
    }
}
