@import url('./__paragraph/testimonials__paragraph.css');
@import url('./__container/testimonials__container.css');
@import url('./__text/testimonials__container.css');
@import url('./__company-logo/testimonials__company-logo.css');
@import url('./__author/testimonials__author.css');
@import url('./__footer/testimonials__footer.css');
@import url('./__position/testimonials__position.css');

.testimonials {
	padding-top: 0px;
	max-width: 960px;
    margin: 0 auto;
    padding: 92px;
}