.link {
    text-decoration: none;
}

.link--paragraph {
    color: #0075FF;
    text-decoration: none;
    font-size: 20px;
}

/* .link--paragraph:visited {
    color: #0075FF;
} */

.link--paragraph:hover {
    text-decoration: underline;

}

.link--blue {
    color: #0075FF;
}

.link--center {
    display: flex;
    align-items: center;
}

.link--blue:visited {
color: #0075FF;
}

.link--blue:hover {
  text-decoration: underline;
    
}

.link--white {
    color: #fff;
      text-decoration: underline;
}

.link--heading {
    font-size: 32px;
    font-weight: 400;
    line-height: 1.2;
    margin: 0 0 32px;
}

@media screen and (max-width: 1365px) {
    .link--heading {
            font-size: 32px;
    }
}



@media screen and (max-width: 760px) {
    .link--heading {
            font-size: 24px;
    }
}

.link--flex {
    display: flex;
    width: fit-content;
}

.link--fontW600 {
    font-weight: 600;
}

