.link {
    text-decoration: none;
}

.link--paragraph {
    color: #0075FF;
    text-decoration: none;
    font-size: 20px;
}

/* .link--paragraph:visited {
    color: #0075FF;
} */

.link--paragraph:hover {
    text-decoration: underline;

}

.link--blue {
    color: #0075FF;
}

.link--center {
    display: flex;
    align-items: center;
}

.link--blue:visited {
color: #0075FF;
}

.link--blue:hover {
  text-decoration: underline;
    
}

.link--white {
    color: #fff;
      text-decoration: underline;
}

