.link {
    text-decoration: none;
}

.link--paragraph {
    color: #0075FF;
    text-decoration: none;
}

.link--paragraph:visited {
    color: #0075FF;
}

.link--paragraph:hover {
    text-decoration: underline;

}