@import url('./--green/btn--green.css');
@import url('./--blue/btn--blue.css');
@import url('./--size-m/btn--size-m.css');
@import url('./--size-l/btn--size-l.css');
@import url('./--text-only/btn--text-only.css');
@import url('./--text-blue/btn--text-blue.css');
@import url('./--text-white/btn--text-white.css');
@import url('./--border-white/btn--border-white.css');
@import url('./--border-blue/btn--border-blue.css');

.btn {
    border-radius: 32px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.5px;
    cursor: pointer;
    display: flex;
    text-transform: uppercase;
    line-height: 24px;
    width: max-content;
    text-decoration: none;
}

.btn:focus {
    outline: none;
    box-shadow: 0 0 0 1px transparent,
        0 0 0px 2px #0075FF;
}

@media screen and (max-width: 1500px) {
    .btn {
        font-size: 13px;
    }
}
