@import 'project_defaults';

$transitionType: cubic-bezier(0.25, 0.46, 0.45, 0.94);

.home-hero{
    position: relative;
    overflow: hidden;
    background-color: $color-theme-primary;

    // mobile
    @include media-breakpoint-down(sm) {
        padding-top: 4.25rem;
    }

    .container{
        height: 100vh;

        // hd
        @include media-breakpoint-up(hd) {
            height: calc(100vh - #{$headerHeight});
        }

        // mobile
        @include media-breakpoint-down(sm) {
            max-height: 400px;
        }

        .home-hero-image{
            position: absolute;
            top: 50%;
            margin-top: -25%;
            right: -8vw;

            img{
                max-width: 100%;
            }

            // mobile + tablet
            @include media-breakpoint-down(lg) {
                right: 0;
            }

            // mobile
            @include media-breakpoint-down(sm) {
                right: 1rem;
            }
        }

        .home-hero-content{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            color: $color-white;

            .ccm-edit-mode &{
                position: relative;
            }

            h1{
                color: $color-white;
            }

            p{
                color: rgba($color-white, 0.8);
                max-width: 25rem;

                strong{
                    font-family: $project-default-font-family-1-REGULAR;
                    text-transform: uppercase;
                    letter-spacing: 0.125rem;
                    font-size: 0.75rem;
                    line-height: 0.875rem;
                }
            }

            html:not(.ccm-edit-mode) &{

                h1{
                    transition: transform 1.2s $transitionType, opacity 1.2s $transitionType;
                    transition-delay: .5s;
                    opacity: 0;
                    transform: translateY(1rem);
                }

                p{
                    display: inline-block;

                    span{
                        transform: translateY(.5rem);
                        transition: transform 1.2s $transitionType, opacity 1.2s $transitionType;
                        display: inline-block;
                        opacity: 0;
                    }

                    @for $i from 1 through 20 {
                        span:nth-child(#{$i}) {
                            transition-delay: #{$i * .15}s;

                        }
                    }
                }
            }

            html:not(.ccm-edit-mode).loaded &{

                h1, p span{
                    opacity: 1;
                    transform: translateY(0);
                }
            }

            // mobile
            @include media-breakpoint-down(sm) {
                position: relative;
                top: auto;
                left: auto;
                min-height: 35vh;
            }
        }
    }
}
