.idea
.htaccess
/application/config/doctrine/proxies
/application/config/generated_overrides
/application/files
/application/languages/site
vendor
.env
/packages
concrete
node_modules
application/js/dist/*
application/css/dist/*
application/base.js
application/base.css
.DS_Store
.vscode
.design
/var/*
sitemap.xml
.next
