.nav__droplink {
    float: none;
    color: #001540;
    margin: 0;
    padding: 12px 16px;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    display: block;
    text-align: left;
    transition: color 0.3s;
    
}

.nav__droplink:hover {
    color: #0075FF;
    background-color: #e8f3ff;
    transition: color 0.3s;
}
