@import url('./--accent/section-paragraph--accent.css');

.section-paragraph {
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 1.67;
    color: #001540;
    letter-spacing: normal;
    margin-top: 0;
    margin-bottom: 40px;
    /* margin: 0;
    padding: 0; */
}

@media screen and (max-width: 1365px) {
    .section-paragraph {
   font-weight: 200;
   font-size: 18px;
    }
}



