@import url('./__container/lead__container.css');
@import url('./__title/lead__title.css');
@import url('./__subtitle/lead__subtitle.css');
@import url('./__text/lead__text.css');
@import url('./__btn-list/lead__btn-list.css');
@import url('./__buttons/lead__buttons.css');
@import url('./__link/lead__link.css');

.lead {
	display: flex;
	flex-direction: column;
	/* align-items: center; */
	width: 100%;
	/* max-width: 100vw; */
	/* align-self: center; */
	background-image: url('./../../images/cover-image.jpg');
	background-repeat: no-repeat;
	background-position: top left;
	background-size: cover;
	/* height: calc(100vh - 200px); */
	/* min-height: 733px; */
	height: auto;
	/* max-height: fit-content; */
	padding: 72px 0 0;
}

@media screen and (max-width: 1560px) {
	.lead {
padding: 48px 0 0;
}