@import url('./__container/lead__container.css');
@import url('./__title/lead__title.css');
@import url('./__subtitle/lead__subtitle.css');
@import url('./__text/lead__text.css');
@import url('./__btn-list/lead__btn-list.css');
@import url('./__buttons/lead__buttons.css');
@import url('./__link/lead__link.css');

.lead {
	display: flex;
	flex-direction: column;
	width: 100%;
	background-image: url('./../../images/cover-image.png');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	height: auto;
	padding: 56px 0 0;
}

@media screen and (max-width: 1560px) {
	.lead {
		background-image: url('./../../images/cover-image-w1560.png');
		padding: 48px 0 0;
}

@media screen and (max-width: 856px) {
	.lead {
		background-image: url('./../../images/cover-image-w856.png');
		background-position: center right;
		background-attachment: scroll;
	}
}

