.testimonials__author {
    font-family: Inter,Helvetica,Arial,sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    color: #001540;
    width: 100%;
    align-content: flex-end;
    margin: 0;
    /* letter-spacing: 1px; */
    text-align: right;
}