.nav__menu-icon {
    display: none;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

.line {
    width: 40px;
    height: 5px;
    background: #fff;
    border-radius: 5px;
    transition: all .5s ease-in-out;
}

.line::before,
.line::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 5px;
    background: #fff;
    border-radius: 5px;
    transition: all .5s ease-in-out;
}

.line::before {
    transform: translateY(-12px);
}

.line::after {
    transform: translateY(12px);
}

.nav__menu-icon.open .line {
    transform: translateX(-50px);
    background: transparent;
}

.nav__menu-icon.open .line::before {
    transform: rotate(45deg) translate(35px, -35px);
}

.nav__menu-icon.open .line::after {
    transform: rotate(-45deg) translate(35px, 35px);
}
@media screen and (max-width: 1200px) {
	.nav__menu-icon  {
		display: flex;
	}
}

@media screen and (max-width: 325px) {
	.nav__menu-icon  {
		padding-left: 20px;
	}
}
