@import url('./__paragraph/contact-us-box__paragraph.css');
.contact-us-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 760px; 
    justify-self: center;
    align-self: center;
 padding: 96px 0;
 text-align: center;
}