@import url('./__ul/benefits__ul.css');
@import url('./__icon/benefits__icon.css');
@import url('./__list-item/benefits__list-item.css');

.benefits {
    /* background: none;
    background-image: url('../../images/benefits-bubles.png');
    background-repeat: no-repeat;
    background-position: top right; */
}