// Project variables defaults

// variables START

// ---- setup GRID START

	// these variables are included in '_bootstrap/_custom.sccs'
	// which is overwrite '_bootstrap/_variables.scss'

	// set this true to disable hovers on mobile devices
	$enable-hover-media-query:				false;

	// grid breakpoints
	$grid-breakpoint-xs: 					0;
	$grid-breakpoint-sm: 					576px;
	$grid-breakpoint-md: 					768px;
	$grid-breakpoint-lg: 					992px;
	$grid-breakpoint-xl: 					1200px;
	$grid-breakpoint-hd: 					1500px;

	// container max widths
	$container-max-width-sm: 				540px;
	$container-max-width-md: 				720px;
	$container-max-width-lg: 				960px;
	$container-max-width-xl: 				1080px;
	$container-max-width-hd: 				1500px; // _bootstrap_custom.sccs

	// grid columns and gutter
	$default-grid-colums:					12;
	$default-gutter-width:					30px;

	// default bootstrap z-index
	$zindex-dropdown:           5 !default;
	$zindex-sticky:             6 !default;
	$zindex-fixed:              7 !default;
	$zindex-modal-backdrop:     8 !default;
	$zindex-modal:              9 !default;
	$zindex-popover:            10 !default;
	$zindex-tooltip:            11 !default;

// ---- setup GRID START

// ---- setup env START

    $theme:                         'base';
    $themePath:                     '/application/themes/#{$theme}/assets';
    // $themePath:                     '/packages/base/themes/#{$theme}/assets';

    // enable or disable rem calculations
    $pxToRem:                       true;

// ---- setup env END


// ---- setup DEFAULTS START

// border radius
$project-default-border-radius:				rem(0px);

// color

	// basic colors
    $color-black:							#000000;
    $color-white:							#FFFFFF;
    $color-red: 							#EB001B;
    $color-light-blue: 					    #002673;
    $color-medium-blue: 					#334466;
    $color-blue: 							#001540;
    $color-dark-blue: 					    #041428;
	$color-green: 							#33A748;
	$color-light-green: 				    #46c75e;
	$color-dark-green: 					    #278037;
	$color-orange: 							#FE9700;
	$color-gray: 							#D8D8D8;
	$color-light-gray: 						#EEEEEE;
    $color-dark-gray: 						#707070;
    $color-black-gray:                      #272727;

    // system colors
    $color-theme-danger:                    #EB001B;
    $color-theme-success:                   #46c75e;
    $color-theme-info:                      #00C2F2;
    $color-theme-warning:                   #FF8307;

    $color-theme-primary:                   $color-blue;
    $color-theme-primary-light:             $color-light-blue;
    $color-theme-primary-dark:              $color-dark-blue;

    $color-theme-secondary:                 $color-green;
    $color-theme-secondary-light:           $color-light-green;
    $color-theme-secondary-dark:            $color-dark-green;

    // additional colors
    $color-webery:                          #c80000;
    $color-white-gray:                      $color-light-gray;

	// social colors
	$color-bandcamp:						#4E9BAC;
	$color-delicious:						#248CFF;
	$color-facebook:						#3B5998;
	$color-ficly:							#B51C2C;
	$color-flickr:							#FF0084;
	$color-foursquare:						#0072B1;
	$color-googleplus:						#DD4B39;
	$color-github:							#4183C4;
	$color-instagram:						#517FA4;
	$color-kickstarter:						#76CC1E;
	$color-lanyrd:							#152E51;
	$color-lastfm:							#d51007;
	$color-linkedin:						#007BB6;
	$color-photodrop:						#CDB6E3;
	$color-pinterest:						#CB2027;
	$color-rdio:							#0088DA;
	$color-quora:							#A82400;
	$color-snapchat:						#FFFC00;
	$color-soundcloud:						#FF6600;
	$color-tumblr:							#32506D;
	$color-twitter: 						#00ACED;
	$color-vimeo:							#AAD450;
	$color-vine:							#00BF8F;
	$color-vk:								#45668E;
	$color-youtube:							#BB0000;

	// default
	$project-default-color:					$color-theme-primary;

// font family
$project-default-font-family-WEBSAFE-1:		Arial, Helvetica, sans-serif;
$project-default-font-family-WEBSAFE-2:		"Times New Roman", Times, serif;

$project-default-font-family-1-REGULAR:		'Poppins-Regular', $project-default-font-family-WEBSAFE-1;
$project-default-font-family-1-MEDIUM:		'Poppins-Medium', $project-default-font-family-WEBSAFE-1;
$project-default-font-family-1-LIGHT:		'Poppins-Light', $project-default-font-family-WEBSAFE-1;
$project-default-font-family-1-ITALIC:		'Poppins-Italic', $project-default-font-family-WEBSAFE-1;
$project-default-font-family-1-BOLD:		'Poppins-SemiBold', $project-default-font-family-WEBSAFE-1;
$project-default-font-family-1-BOLDITALIC:	'Poppins-SemiBoldItalic', $project-default-font-family-WEBSAFE-1;
$project-default-font-family-2-REGULAR:		'Montserrat-Regular', $project-default-font-family-WEBSAFE-1;
$project-default-font-family-2-LIGHT:		'Montserrat-Light', $project-default-font-family-WEBSAFE-1;
$project-default-font-family-2-MEDIUM:		'Montserrat-Medium', $project-default-font-family-WEBSAFE-1;

$project-default-icon-family:               "Font Awesome 5 Free";
$project-default-icon-family-extra:         "icomoon";

$project-default-font-family:				$project-default-font-family-1-REGULAR;

	// strong
	$project-strong-font-family:			$project-default-font-family-1-BOLD;

	// em
	$project-em-font-family:				$project-default-font-family-1-ITALIC;

	// em + strong
	$project-em-strong-font-family:			$project-default-font-family-1-BOLDITALIC;

	// websafe font
	$project-websafe-font-toggle:			false; // if false -> set font weights and styles to normal

// font size
$project-default-font-size-base:			16px;
$project-default-font-size:					rem($project-default-font-size-base);

// height
$project-default-button-height:				3.5rem;

// line height
$project-default-line-height-diff:			1rem;
$project-default-line-height:				$project-default-font-size + $project-default-line-height-diff;

// margin
$project-default-margin:					0px 0px $project-default-line-height 0px;
$project-default-margin-bottom:				$project-default-line-height;

// opacity
$project-default-opacity-HOVER:				1;

// transitions
@mixin project-default-transition()			{ @include css3-transition(all, .25s, ease); will-change: transition; } // USE THIS: @include project-default-transition();
@mixin project-default-transition-long()	{ @include css3-transition(all, .5s, cubic-bezier(0.4, 0.2, 0.2, 1)); will-change: transition; } // USE THIS: @include project-default-transition();


// ---- setup DEFAULTS END



// ---- create a LIST FROM DEAFULT COLORS START

// list of colors for class generators
$colors: (

	// basic colors
	color-black:							$color-black,
	color-white:							$color-white,
	color-red: 							    $color-red,
	color-blue: 							$color-blue,
	color-dark-blue: 						$color-dark-blue,
	color-light-blue: 						$color-light-blue,
	color-light-green: 						$color-light-green,
	color-green: 							$color-green,
	color-dark-green: 						$color-dark-green,
	color-orange: 							$color-orange,
	color-gray: 							$color-gray,
    color-dark-gray: 						$color-dark-gray,
	color-light-gray: 						$color-light-gray,
    color-webery:                           $color-webery,

    // theme colors
    color-theme-primary:                    $color-theme-primary,
    color-theme-primary-light:              $color-theme-primary-light,
    color-theme-primary-dark:               $color-theme-primary-dark,

    color-theme-secondary:                  $color-theme-secondary,
    color-theme-secondary-light:            $color-theme-secondary-light,
    color-theme-secondary-dark:             $color-theme-secondary-dark,

    color-theme-danger:                     $color-theme-danger,
    color-theme-warning:                    $color-theme-warning,
    color-theme-info:                       $color-theme-info,
    color-theme-success:                    $color-theme-success,

	// social colors
	color-bandcamp:		                    $color-bandcamp,
	color-delicious:	                    $color-delicious,
	color-facebook:		                    $color-facebook,
	color-ficly:		                    $color-ficly,
	color-flickr:		                    $color-flickr,
	color-foursquare:	                    $color-foursquare,
	color-googleplus:	                    $color-googleplus,
	color-github:		                    $color-github,
	color-instagram:	                    $color-instagram,
	color-kickstarter:	                    $color-kickstarter,
	color-lanyrd:		                    $color-lanyrd,
	color-lastfm:		                    $color-lastfm,
	color-linkedin:		                    $color-linkedin,
	color-photodrop:	                    $color-photodrop,
	color-pinterest:	                    $color-pinterest,
	color-rdio:			                    $color-rdio,
	color-quora:		                    $color-quora,
	color-snapchat:		                    $color-snapchat,
	color-soundcloud:	                    $color-soundcloud,
	color-tumblr:		                    $color-tumblr,
	color-twitter: 		                    $color-twitter,
	color-vimeo:		                    $color-vimeo,
	color-vine:			                    $color-vine,
	color-vk:			                    $color-vk,
	color-youtube:		                    $color-youtube
);

// ---- create a LIST FROM DEAFULT COLORS END
