@import url('./--full-width/section-container--full-width.css');
@import url('./--normal-width/section-container--normal-width.css');

.section-container {
    width: calc(100% - 72px * 2);
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}