.ul {
    list-style-type: square;
    padding-left: 24px;
    margin: 0 0 24px ;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.67;
    color: #001540;
    letter-spacing: normal;
}

.ul::marker {
     list-style-position: inside;
}

.ul--list-style-none {
    padding: 0;
    list-style: none;
    list-style-type: none;
}

.ul__paragraph {
    font-size: 32px;
    color: #001540;
    font-weight: 300;
}


@media screen and (max-width: 1365px) {
    .ul {
        font-size: 18px;
    }
}

.ul--padding-none {
    padding: 0;
}