.paragraph {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.67;
    color: #001540;
    letter-spacing: normal;
    margin-top: 0;
    margin-bottom: 24px;
    /* margin: 0;
    padding: 0; */
}

@media screen and (max-width: 1365px) {
    .paragraph {
  
        font-size: 18px;
    }
}

.paragraph--alignCenter {
    text-align: center;
}

.paragraph--accent {
    font-weight: 600;
}

.testimonials__paragraph {
    font-family: 'Source Serif Pro', serif;
    font-weight: 300;
    font-size: 24px;
    line-height: 1.67;
    color: #001540;
    font-style: italic;
}

@media screen and (max-width: 768px) {
    .testimonials__paragraph {
        font-size: 18px;
        line-height: 1.63;
    }
}

@media screen and (max-width: 625px) {
    .testimonials__paragraph:first-child {
        margin-top: 32px;
    }
}

.coverParagraphBackground {
    background-color: rgba(255, 225, 255, .8);
    padding: 16px;
 color: #fff;
 background-color: rgba(0, 21, 64, .8);
}