.nav__dropdown-content--coming-soon {
    right: 44px;
    background-color: rgb(215, 220, 251);
}

@media screen and (max-width: 1500px) {
    .nav__dropdown-content--coming-soon {
    right: 28px;
    }
}


@media screen and (max-width: 1200px) {
    .nav__dropdown-content--coming-soon {
       
        right: auto;
        justify-self: center;
        font-weight: 400;
    }
}
