@import 'project_defaults';

.core-tags{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;

    &-item{
        list-style: none;
        margin-right: 15px;
        margin-bottom: 15px;
    }
}
