.nav__items {
	display: flex;
	list-style-type: none;
	margin: 0;
	padding: 0;
	align-items: center;
	justify-self: flex-end;
}

.nav__items.open {
	display: flex;
  }

  @media screen and (max-width: 1200px) {
	.nav__items  {
		display: none;
		width: 100%;
		flex-direction: column;
		justify-content: space-evenly;
		height: 90vh;
	}
}
