.footer__link {
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 1.67;
	text-decoration: none;
	transition: .1s ease-in;
	color: #ffffff;
	margin: 0 0 16px 0;
}
.footer__link:hover {
	opacity: .8;
}


@media screen and (max-width: 1500px) {
	.footer__link {
		font-size: 13px;
	}
}

