.lead__title {
	max-width: 720px;
	font-style: normal;
	font-weight: 400;
	font-size: 80px;
	line-height: 1.1;
	color: #ffffff;
	text-rendering: optimizeLegibility;
	margin: 0 0 24px;

}

@media screen and (max-width: 1560px) {
	.lead__title {
			font-size: 56px;
	}
}

@media screen and (max-width: 760px) {
	.lead__title {
		font-size: 48px;
		margin: 0 0 16px;
	}
}



