@import url('./__item/section-ul__item.css');
@import url('./__paragraph/section-ul__paragraph.css');

.section-ul {
    list-style-type: square;
    margin: 0;
    padding-left: 24px;
}

.section-ul::marker {
     list-style-position: inside;
}

