.container {
    width: calc(100% - 72px * 2);
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

@media screen and (max-width: 945px) {
    .container {
     width: calc(100% - 48px * 2);
    }
}

@media screen and (max-width: 550px) {
    .container {
        width: calc(100% - 24px * 2);
    }
}

.container--minHeight {
    min-height: 80vh;
}

.container--marginTop100 {
    margin-top: 100px;
}
.container--marginTop96 {
    margin-top: 96px;
}

.container--marginBottom80 {
    margin-bottom: 80px;
}

.container--full-width {
    max-width: 1480px;
}

.container--normal-width {
    max-width: 1024px;
}

.container--flex {
    width: calc(100% - 72px * 2);
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

@media screen and (max-width: 945px) {
    .container--flex {
        width: calc(100% - 48px * 2);
    }
}

@media screen and (max-width: 550px) {
    .container--flex {
        width: calc(100% - 24px * 2);
    }
}

.container--grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 92px;
    width: calc(100% - 72px * 2);
    /* margin: 0 auto; */
}

.container--none {
    display: none;
}

@media screen and (max-width: 945px) {
    .container--grid {
        width: calc(100% - 48px * 2);
        grid-template-columns: 1fr;
        gap: 48px;
    }
}


@media screen and (max-width: 550px) {
    .container--grid {
        width: calc(100% - 24px * 2);
    }
}
