.api-solution__container {
    /* padding: 96px 0 96px 0; */
    
    max-width: 960px;
    display: flex;
    flex-direction: column;
  
    /* padding: 112px 72px 112px 72px; */
    margin: 0 auto;
}