@import url('./__items/partners__items.css');
@import url('./__item/partners__item.css');
@import url('./__text/partners__text.css');
@import url('./__grid/partners__grid.css');

.partners {
    	display: flex;
    	flex-direction: column;
    	align-items: center;
    	width: 100%;
    	/* max-width: 100vw; */
    	align-self: center;

}