.testimonials__container {
        display: grid;
        grid-template-columns: 1fr; 
        gap: 92px;
        
      
}

    @media screen and (max-width: 625px) {
        .testimonials__container {
            flex-direction: column;
            margin-top: 32px;
        }
    }
