.logo {
    width: 100%;
    width: 300px;
    height: auto;
    background-size: contain;
    background-repeat: no-repeat;
    fill: #fff;
    align-self: flex-start;
    cursor: pointer;
    margin-left: -16px;
}

@media screen and (max-width: 1500px) {
    .logo {
        width: 250px;
    }
}

.logo--sticky {
    max-width: 200px;
}