@import 'project_defaults';

.youtube-iframe{
    max-width: 100%;
}

.embed-responsive-youtube{
    background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}

.embed-responsive-info{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.embed-responsive-layer-youtube {

    p {
		@include css3-background-opacity($project-embed-responsive-layer-youtube-background-color, $project-embed-responsive-layer-youtube-background-opacity);
		@include css3-opacity($project-embed-responsive-layer-youtube-opacity);
		@include project-default-transition();
		align-items: center;
		color: $project-embed-responsive-layer-youtube-color;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		font-family: $project-embed-responsive-layer-youtube-font-family;
		font-size: $project-embed-responsive-layer-youtube-font-size;
		height: 100%;
		justify-content: center;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;

		// desktop
		@include media-breakpoint-up(xl) {
			&:hover,
			&:focus {
				@include css3-background-opacity($project-embed-responsive-layer-youtube-background-color-HOVER, $project-embed-responsive-layer-youtube-background-opacity-HOVER);
				@include css3-opacity($project-embed-responsive-layer-youtube-opacity-HOVER);
			}
		}

		// tablet
		@include media-breakpoint-down(lg) {
			@include css3-opacity($project-embed-responsive-layer-youtube-opacity-HOVER);
		}
	}
}

.video-info{
    margin-top: 2rem;
    padding-bottom: 2rem;
    margin-bottom: 4rem;
    border-bottom: 1px solid $color-light-gray;

    p{
        font-size: .875rem;
        line-height: 2;
        color: $color-dark-gray;
        opacity: .7;
    }

    h5{
        font-family: $project-default-font-family-1-BOLD;
        font-size: 1.5rem;
        line-height: 2rem;
        letter-spacing: 0;
    }
}

/* embed responsive layer for youtube END */
