@import url('./__content/modal__content.css');
@import url('./__image/modal__image.css');
@import url('./__caption/modal__caption.css');
@import url('./__close-button/modal__close-button.css');

.modal {
    position: fixed;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #00000080;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 0 25px;
    top: 0;
    right: 0;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    transition: visibility .5s ease-out, opacity 0.5s ease-in-out;
}