@import url('./__content/modal__content.css');
@import url('./__image/modal__image.css');
@import url('./__caption/modal__caption.css');
@import url('./__close-button/modal__close-button.css');

.modal {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    display: flex;
    width: 100%;
    height: 100%;
    background-color:rgba(4, 6, 14, 0.8);
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 0 25px;
    top: 0;
    right: 0;
    z-index: 1;
    transition: visibility .3s ease-out,
    opacity .3s ease-in-out;
}