/*** ball pulse ***/
/* HTML: <div class="loader-ball-pulse"><div></div><div></div><div></div></div> */

@include css3-keyframes(loader-ball-pulse) {
	0% {
		@include css3-prefix(transform, scale(1));
		@include css3-opacity(1);
	}
	45% {
		@include css3-prefix(transform, scale(0.1));
		@include css3-opacity(0.7);
	}
	80% {
		@include css3-prefix(transform, scale(1));
		@include css3-opacity(1);
	}
}

.loader-ball-pulse {

	> div {
		@include css3-border-radius(100%);
		@include css3-prefix(animation-fill-mode, both);
		display: inline-block;
		height: $project-loader-item-size;
		margin: $project-loader-item-distance;
		vertical-align: middle;
		width: $project-loader-item-size;

		&:nth-child(0) {
			@include css3-animation(loader-ball-pulse $project-loader-item-speed ( $project-loader-item-speed * -0.36 ) infinite cubic-bezier(.2, .68, .18, 1.08));
		}

		&:nth-child(1) {
			@include css3-animation(loader-ball-pulse $project-loader-item-speed ( $project-loader-item-speed * -0.24 ) infinite cubic-bezier(.2, .68, .18, 1.08));
			background-color: $project-loader-item-1-color;
		}

		&:nth-child(2) {
			@include css3-animation(loader-ball-pulse $project-loader-item-speed ( $project-loader-item-speed * -0.12 ) infinite cubic-bezier(.2, .68, .18, 1.08));
			background-color: $project-loader-item-2-color;
		}

		&:nth-child(3) {
			@include css3-animation(loader-ball-pulse $project-loader-item-speed 0s infinite cubic-bezier(.2, .68, .18, 1.08));
			background-color: $project-loader-item-3-color;
		}
	}
}
