/*** ball clip rotate pulse ***/
/* HTML: <div class="loader-ball-clip-rotate-pulse"><div></div><div></div></div> */

@include css3-keyframes(loader-ball-clip-rotate-pulse-rotate) {
	0% {
		@include css3-prefix(transform, rotate(0deg) scale(1));
	}
	50% {
		@include css3-prefix(transform, rotate(180deg) scale(0.6));
	}
	100% {
		@include css3-prefix(transform, rotate(360deg) scale(1));
	}
}

@include css3-keyframes(loader-ball-clip-rotate-pulse-scale) {
	30% {
		@include css3-prefix(transform, scale(0.3));
	}
	100% {
		@include css3-prefix(transform, scale(1));
	}
}

.loader-ball-clip-rotate-pulse {
	position: relative;

	> div {
		@include css3-prefix(animation-fill-mode, both);
		@include css3-border-radius(100%);
		position: absolute;

		&:first-child {
			@include css3-animation(loader-ball-clip-rotate-pulse-scale $project-loader-item-speed 0s cubic-bezier(.09, .57, .49, .9) infinite);
			background-color: $project-loader-item-1-color;
			height: $project-loader-item-size;
			left: 50%;
			margin-left: -( $project-loader-item-size / 2 );
			margin-top: -( $project-loader-item-size / 2 );
			top: 50%;
			width: $project-loader-item-size;
		}

		&:last-child {
			@include css3-animation(loader-ball-clip-rotate-pulse-rotate $project-loader-item-speed 0s cubic-bezier(.09, .57, .49, .9) infinite);
			@include css3-prefix(animation-duration, $project-loader-item-speed);
			background: transparent;
			border-color: $project-loader-item-2-color transparent;
			border-style: solid;
			border-width: ( $project-loader-item-size * 0.1333333333333333 );
			height: ( $project-loader-item-size * 2 );
			left: 50%;
			margin-left: -( $project-loader-item-size );
			margin-top: -( $project-loader-item-size );
			top: 50%;
			width: ( $project-loader-item-size * 2 );
		}
	}
}
