/*** line scale ***/
/* HTML: <div class="loader-line-scale"><div></div><div></div><div></div><div></div><div></div></div> */

@include css3-keyframes(loader-line-scale) {
	0% {
		@include css3-prefix(transform, scale(1));
	}
	50% {
		@include css3-prefix(transform, scale(0.4));
	}
	100% {
		@include css3-prefix(transform, scale(1));
	}
}

.loader-line-scale {

	> div {
		@include css3-border-radius( ( ( $project-loader-item-size / 5 ) / 2 ) );
		@include css3-prefix(animation-fill-mode, both);
		background-color: $project-loader-item-1-color;
		display: inline-block;
		height: ( $project-loader-item-size * 2 );
		margin: ( $project-loader-item-distance / 2.5 );
		vertical-align: middle;
		width: ( $project-loader-item-size / 5 );

		&:nth-child(1) {
			@include css3-animation(loader-line-scale $project-loader-item-speed ( $project-loader-item-speed * -0.4 ) infinite cubic-bezier(.2, .68, .18, 1.08));
		}

		&:nth-child(2) {
			@include css3-animation(loader-line-scale $project-loader-item-speed ( $project-loader-item-speed * -0.3 ) infinite cubic-bezier(.2, .68, .18, 1.08));
		}

		&:nth-child(3) {
			@include css3-animation(loader-line-scale $project-loader-item-speed ( $project-loader-item-speed * -0.2 ) infinite cubic-bezier(.2, .68, .18, 1.08));
		}

		&:nth-child(4) {
			@include css3-animation(loader-line-scale $project-loader-item-speed ( $project-loader-item-speed * -0.1 ) infinite cubic-bezier(.2, .68, .18, 1.08));
		}

		&:nth-child(5) {
			@include css3-animation(loader-line-scale $project-loader-item-speed 0s infinite cubic-bezier(.2, .68, .18, 1.08));
		}
	}
}
