@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Inter', 'Helvetica', sans-serif;
}

.nav__container--sticky {
    padding: 24px 0;
    
}

.nav {
    width: 100%;
    z-index: 1;
}

.container--grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 92px;
    width: calc(100% - 72px * 2);
    /* margin: 0 auto; */
}

.container--none {
    display: none;
}