.heading {
    font-size: 32px;
    color: #001540;
    font-weight: 400;
    line-height: 1.2;
    margin: 0 0 32px;
}

@media screen and (max-width: 1365px) {
    .heading {
            font-size: 32px;
    }
}



@media screen and (max-width: 760px) {
    .heading {
            font-size: 24px;
    }
}

.heading--green {
    padding: 16px;
    background-color: #00986A;
    color: #ffffff;
    font-size: 32px;
    font-weight: 400;
    line-height: 1.2;
    margin: 0 0 32px;
}

.heading--marginB12 {
    margin-bottom: 12px;
}

