/*** Project footer ***/

/* footer START */

.footer {
    background-color: $color-theme-primary;

    &-top{
        padding-top: 6.25rem;

        .container,
        .container-fluid {

            // tablet large + desktop
            @include media-breakpoint-up(lg) {
                height: $footerHeight;
            }

            *{
                margin-bottom: 0;
            }

            .socials.socials-circle{
                margin-top: 4.375rem;

                ul{

                    // desktop
                    @include media-breakpoint-up(xl) {
                        margin-left: 4.25rem ;
                    }

                    li{
                        margin: 0 0.5rem;

                        &:first-child{
                            margin-left: 0;
                        }

                        a{
                            border-color: rgba($color-white, .3);
                            font-size: 1.75rem;
                            color: $color-white;

                            // desktop
                            @include media-breakpoint-up(xl) {
                                &:hover,
                                &:focus {
                                    background-color: rgba($color-white, .7);
                                    color: $color-theme-primary;
                                }
                            }
                        }
                    }
                }

                // mobile
                @include media-breakpoint-down(sm) {
                    margin: 2rem 0;

                    ul{

                        li{

                            &:first-child{
                                margin: 0 0.5rem;
                            }
                        }
                    }
                }
            }

            .core-vertical-menu{
                padding-left: 3rem;

                // mobile
                @include media-breakpoint-down(sm) {
                    padding-left: 0;
                }

                ul{

                    li{
                        margin-bottom: 2rem;

                        a{
                            color: $color-white;
                            @include underlinehover($color-white);
                        }

                        // mobile
                        @include media-breakpoint-down(sm) {
                            margin-bottom: 1rem;
                        }
                    }
                }
            }
        }
    }

    &-bottom{

        .container,
        .container-fluid {
            padding-top: 3.75rem;
            padding-bottom: 3.75rem;

            // mobile
            @include media-breakpoint-down(sm) {
                text-align: center;
            }

            *{
                margin-bottom: 0 !important;
            }

            p,
            span,
            a{
                font-family: $project-default-font-family-1-LIGHT;
                font-size: 0.625rem;
                line-height: 0.625rem;
                letter-spacing: 0.125rem;
                text-transform: uppercase;
                color: rgba($color-white, .4);
            }

            path{
                color: rgba($color-white, .4);
            }
        }
    }

    .text-center{

        .scrolltop a{
            margin: 0 auto;
        }
    }
}

.grecaptcha-badge{
    display: none !important;
}

/* footer END */
