/*** Project index ***/

.home{

    &-about-us-section{

        .btn{
            /* color: $color-theme-primary;
            background-color: transparent;
            border: none;
            padding-left: 0;
            position: relative;

            &:after{
                content: '\e901';
                font-family: $project-default-icon-family-extra;
                position: absolute;
                right: -3rem;
                height: 3.5rem;
                width: 3.5rem;
                line-height: 3.5rem;
                border: 1px solid rgba($color-theme-primary, .2);
                border-radius: 100%;
                @include project-default-transition();
                display: inline-block;
            }

            // desktop
            @include media-breakpoint-up(xl) {
                &:hover,
                &:focus {

                    &:after{
                        background-color: rgba($color-theme-primary, .7);
                        color: $color-white;
                        transform: translateY(-3px);
                    }
                }
            } */
        }
    }

    &-about-us-section,
    &-contact-section{

        .texts{

            h6{
                font-size: 1.5rem;
                font-family: $project-default-font-family-1-MEDIUM;
            }
        }
    }

    &-solutions-section,
    &-guarantee-section,
    &-media-section{
        position: relative;

        &::before{
            content: '';
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            height: 100%;
            width: 100vw;
            background-color: $color-theme-primary;
        }

        .texts{

            h6{
                color: $color-white;
                font-size: 1.5rem;
                font-family: $project-default-font-family-1-MEDIUM;
            }

            p{
                color: rgba($color-white, .8);
            }
        }

        .section-header{

            .page-title{
                color: $color-white;
            }
        }
    }

    &-media-section{

        .media-title{
            display: flex;
            align-items: center;
            justify-content: space-between;

            .texts{

                a{
                    color: rgba($color-white, .8);
                    @include underlinehover($color-white);
                }
            }
        }

        .btn{
            color: $color-white;
            background-color: transparent;
            border: none;
            padding-left: 0;
            position: relative;

            &:after{
                content: '\e901';
                font-family: $project-default-icon-family-extra;
                position: absolute;
                right: -3rem;
                height: 3.5rem;
                width: 3.5rem;
                line-height: 3.5rem;
                border: 1px solid rgba($color-white, .2);
                border-radius: 100%;
                @include project-default-transition();
                display: inline-block;
            }

            // desktop
            @include media-breakpoint-up(xl) {
                &:hover,
                &:focus {

                    &:after{
                        background-color: rgba($color-white, .7);
                        color: $color-white;
                        transform: translateY(-3px);
                    }
                }
            }
        }
    }

    &-guarantee-section{

        @include media-breakpoint-down(sm) {
            padding-bottom: $project-spacer-vertical-large-MOBILE;
        }

        // tablet
        @include media-breakpoint-between(md, lg) {
            padding-bottom: $project-spacer-vertical-large-TABLET;
        }

        // laptop
        @include media-breakpoint-only(xl) {
            padding-bottom: $project-spacer-vertical-large-LAPTOP;
        }

        // hd
        @include media-breakpoint-up(hd) {
            padding-bottom: $project-spacer-vertical-large-HD;
        }

        .section-header{
            text-align: center;
        }

        .core-image-gallery{
            margin-right: -2rem !important;
            margin-left: -2rem !important;

            &-item{
                padding-left: 2rem !important;
                padding-right: 2rem !important;
            }
        }
    }

    &-solutions-section,
    &-media-section{

        @include media-breakpoint-down(sm) {
            padding-top: $project-spacer-vertical-large-MOBILE;
            padding-bottom: $project-spacer-vertical-large-MOBILE;
        }

        // tablet
        @include media-breakpoint-between(md, lg) {
            padding-top: $project-spacer-vertical-large-TABLET;
            padding-bottom: $project-spacer-vertical-large-TABLET;
        }

        // laptop
        @include media-breakpoint-only(xl) {
            padding-top: $project-spacer-vertical-large-LAPTOP;
            padding-bottom: $project-spacer-vertical-large-LAPTOP;
        }

        // hd
        @include media-breakpoint-up(hd) {
            padding-top: $project-spacer-vertical-large-HD;
            padding-bottom: $project-spacer-vertical-large-HD;
        }
    }

    &-contact-section{

        .contact-info{

            .texts{

                h6{
                    font-family: $project-h6-font-family;
		            font-size: $project-h6-font-size;
                    margin-bottom: 1rem;
                }

                a{
                    font-size: 1.125rem;
                    @include underlinehover($color-theme-primary);
                }
            }
        }

        .dynamic-form-container{

            .btn{
                /* position: relative;
                line-height: 1;
                padding-left: 3rem;

                &:before{
                    content: '\e905';
                    font-family: $project-default-icon-family-extra;
                    position: absolute;
                    left: 1.25rem;
                } */
            }
        }
    }
}
