/*** Project subpages ***/

/* subpage name START */

.page-type-article{

    .contents{

        img{
            width: 100%;
            margin-bottom: 2.5rem;
        }

        .texts{

            h6{
                font-family: $project-h6-font-family;
                font-size: $project-h6-font-size;
                margin-bottom: 1rem;
            }
        }
    }
}

.contents{

    .core-vertical-menu{

        ul{

            li{
                line-height: normal;
                margin-bottom: 0;

                &:not(:last-child){
                    margin-bottom: 1.75rem;
                }

                a{
                    opacity: .5;
                    line-height: 1.25;
                }

                &.active{

                    a{
                        opacity: 1;
                    }
                }
            }
        }
    }
}

.page-not-found{
    height: 100vh;
    padding: 5rem 1rem 0 1rem;

    .logo{
        position: absolute;
        top: 5vh;
        left: 4vw;

        // mobile
        @include media-breakpoint-down(sm) {
            left: 50%;
            transform: translateX(-50%);
        }

        a{
            display: block;

            img{
                width: 17.5rem;
            }
        }
    }

    .four-oh-four{
        margin-bottom: 9rem;
        max-width: 61vw;

        // laptop
        @include media-breakpoint-only(xl) {
            margin-bottom: 5rem;
            max-width: 50vw;
        }

        // mobile
        @include media-breakpoint-down(sm) {
            max-width: 85vw;
            margin-bottom: 2rem;
        }
    }

    h6{
        margin-bottom: 3.5rem;

        // mobile
        @include media-breakpoint-down(sm) {
            margin-bottom: 1rem;
            line-height: 1.2;
        }
    }
}

/* subpage name END */
