/*** Project subpages ***/

/* subpage name START */

.page-type-article{

    .contents{

        img{
            width: 100%;
            margin-bottom: 2.5rem;
        }

        .texts{

            h6{
                font-family: $project-h6-font-family;
                font-size: $project-h6-font-size;
                margin-bottom: 1rem;
            }
        }
    }
}

.contents{

    .core-vertical-menu{

        ul{

            li{
                line-height: normal;
                margin-bottom: 0;

                &:not(:last-child){
                    margin-bottom: 1.75rem;
                }

                a{
                    opacity: .5;
                    line-height: 1.25;
                }

                &.active{

                    a{
                        opacity: 1;
                    }
                }
            }
        }
    }
}

/* subpage name END */
